/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Basic styling for the background */
  .background {
    background: url('./images/light-blue-3d-abstract-wave-pattern.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
  }
  
  .second-background {
    background: url('./images/e28d61b0ce1b686bbd9c19b98912101f.gif');
    background-size: cover;
    height: 100vh;
    width: 100%;
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
  }
  /* Center content vertically and horizontally */
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #fff; /* Change text color to white */
    
  }
  
  /* Initial hiding of elements */
  .animate-on-load {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 3s ease-out, transform 3s ease-out;
  }
  
  /* Additional styling for the empty paragraph */
  .empty-paragraph {
    width: 400px;
    height: 100px;
    margin-top: 20px;
    color: white;
    font-size: 1.3em;
    letter-spacing: 1px;
    text-align: center;

  }
  

.hocam {
    border-radius: 50%;
    margin: 20px 0;
    border: #0ff 3px solid;
    width: 300px;
    animation: zenu infinite;

}


/* Neon border animation for .hocam class */
.hocam {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    color: #fff;
    position: relative;
    display: inline-block;
  }
  
  @keyframes zenu {
    0% {
        border: #0ff 3px solid;
    }
    100% {
        border: #fff 3px solid;
    }
}


.zennure {
    font-size: 1.3em;
}



.blue-caret {
    color: #0ff; /* Neon blue color */
    font-size: 1em;
    animation: blink-caret 0.75s step-end infinite;
  }
  
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-right: 2px solid #0ff; /* Neon blue color */
    }
  }